/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    background-color: #c7beac;
    color: #423f3f;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #534931;
    color: rgb(255, 251, 251);
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

/* Section styles */
section {
    margin: 20px 0;
    padding: 15px;
    background-color: rgb(238, 231, 217);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Image styles */
img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
    background-color: #534931;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer a {
    color: #aa9671;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
